.topbar {
  --topbar_red: #eb4c6b;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: black;
  color: var(--topbar_red);
}

/* Header container */
.header {
  --border: #f1f1f1;
  width: 100%;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 17px 0px 18px;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.nav {
  display: none;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.nav ul li {
  text-transform: uppercase;
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 700;
}

.centerHeading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
}

.lang {
  font-size: 16px;
}

.hide {
  display: none;
}

@media (width >= 768px) {
  .logo {
    height: 30px;
    width: 30px;
  }
  .hamburgerMenu {
    display: none;
  }
  .centerHeading {
    font-size: 36px;
  }
  .hide {
    display: flex;
    gap: 2px;
  }
}

@media (width >= 1024px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
