.box {
  width: 235px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: -160px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.option {
  padding: 5px;
  width: 100%;
  text-align: end;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.option:hover {
  background-color: whitesmoke;
}
