/* Footer */
.footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0px 0px;
}

.footercontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footerrow {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.footerlefttop {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerrighttop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerleftbottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerrightbottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerheading {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footercontainer a:hover {
  text-decoration: underline;
}

.title {
  text-transform: uppercase;
}

.text {
  text-align: center;
}

.line,
.mobileline {
  width: 100%;
  height: 1px;
  background: var(--background);
}

.footer p {
  font-size: 14px;
  font-weight: 400;
}

.quicklinks {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.quicklinks ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.newsletter {
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 8px;
  margin-top: 16px;
}

.email {
  background-color: white;
  padding: 14px 24px;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
}

.subscribebtn {
  border: 1.14px solid #ffffff;
  background: transparent;
  color: #ffffff;
  height: 48px;
  padding: 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribebtn:disabled {
  border: 1.14px solid #ffffff44;
  background: transparent;
  color: #ffffff44;
}

.footerrow p {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.footerlink {
  width: 100%;
}

.footerlink li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}

.footerheading .img {
  border-radius: 5px;
}

.copyright {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.paymentUL {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown button {
  display: block;
}

.desktopDisplay {
  display: none;
}

/* Responsive queries */

@media (width >= 1024px) {
  .footerrow {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15rem;
  }
  .footer {
    padding: 80px 0px 0px;
  }
  .footerlefttop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .footerrighttop {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footerleftbottom {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
  }

  .footerrightbottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobileline {
    display: none;
  }

  .dropdown button {
    display: none;
  }

  .desktopDisplay {
    display: block;
  }
}
