/* Footer */
.footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
}

.metamuseh3 {
  text-transform: none;
}

.text {
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  background: var(--background);
}

.footer p {
  font-size: 14px;
  font-weight: 400;
}

.footerrow {
  width: 100%;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsletter {
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 8px;
  margin-top: 16px;
}

.email {
  background-color: white;
  padding: 14px 24px;
  outline: none;
  border: none;
}

.subscribebtn {
  border: 1.14px solid #ffffff;
  background: transparent;
  color: #ffffff;
  height: 48px;
  padding: 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribebtn:disabled {
  border: 1.14px solid #ffffff44;
  background: transparent;
  color: #ffffff44;
}

.footerrow p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}

.footerlink {
  width: 100%;
}

.footerlink li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}

.musseaccepts ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.musseaccepts h3 {
  text-transform: none;
}

.musseaccepts {
  gap: 16px;
}

.musseaccepts .img {
  border-radius: 5px;
}

.copyright {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Responsive queries */
