.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.herocontainer {
  padding: 16px 0px;
}

.productcontainer {
  padding: 16px 0px;
}

.breadcrumbs {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.breadcrumbs p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.breadcrumbs span {
  display: inline-block;
  font-size: 10px;
}

.display {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.display h1 {
  font-size: clamp(24px, 5vw, 60px);
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
}

.display p {
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
  text-align: center;
}

.buttongrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttongrid button {
  --border: #f1f1f1;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 20px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(14px, 2vw, 18px);
}

.buttongrid button span {
  display: inline-block;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding: 12px 0px 24px;
}

.productlist li {
  --border: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border: 1px solid var(--border); */
}

.productlist li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.productlist .description div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prodtitle {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: start;
}

.prodImage {
  width: 100%;
  height: 400px;
  padding: 20px;
  object-fit: cover;
  border: 1px solid #f1f1f1;
}

.description {
  font-size: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.description p {
  width: 100%;
  font-size: clamp(14px, 2vw, 14px);
}

/* Responsive queries */

@media (width >= 640px) {
  .productlist {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .productlist {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .display p {
    line-height: 40px;
    width: 80%;
  }

  .herocontainer {
    padding: 72px 0px;
  }

  .productcontainer {
    padding: 32px 0px;
  }

  .breadcrumbs {
    display: none;
  }
  .hero p {
    width: 70%;
  }
}
