:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.svgButtons {
  height: 20px;
  width: 20px;
}

.text {
  font-size: 12px;
  font-weight: 400;
}

.line {
  width: 100%;
  height: 1px;
  background: var(--background);
}

.container {
  width: 100%;
  max-width: 91.46%;
  margin: 0px auto;
}

.title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

@media (width >= 1440px) {
  .container {
    max-width: 80%;
  }
}

@media (width >= 768px) {
  .svgButtons {
    height: 24px;
    width: 24px;
  }
}

/* * {
  outline: 1px solid red;
} */
