.box {
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: clamp(14px, 3vw, 18px);
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.filterStack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterStack ul {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.filterStack label {
  display: flex;
  align-items: center;
  gap: 3px;
}

.filterStack label p {
  text-transform: capitalize;
}

.line,
.mobileline {
  width: 100%;
  height: 1px;
  background: #f1f1f1;
}
