.buttongrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttongrid button {
  --border: #f1f1f1;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 20px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(14px, 2vw, 18px);
}

.buttongrid button span {
  display: inline-block;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.showcase {
  padding: 12px 0px 24px;
  gap: 8px;
}

.productlist li {
  --border: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--border);
  border-radius: 10px;
  overflow: hidden;
}

.imageContainer {
  position: relative;
}

.rating {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #000;
  color: white;
  padding: 3px 6px;
}

.productlist .description div {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.prodtitle {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 700;
  /* text-transform: uppercase; */
  letter-spacing: -0.5px;
  text-align: start;
}

.prodcategory {
  text-transform: capitalize;
}

.prodImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border: 1px solid #f1f1f1;
}

.description {
  font-size: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2px;
  padding: 5px 10px;
}

.description p {
  width: 100%;
  font-size: clamp(14px, 2vw, 14px);
}

.showFilter {
  display: grid;
  grid-template-columns: 29.5% 70%;
}

.hideFilter {
  display: grid;
  grid-template-columns: 100%;
}

@media (width >= 640px) {
  .productlist {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .productlist {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .showFilter .productlist {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .productcontainer {
    padding: 32px 0px;
  }
}
